
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15;
}



.gallery__link {
    display: block;

    height: 300px;
}

.gallery__image {
    height: 100%;
    object-fit: cover
}

.search-form {
    display: flex;
    
    background-color: blue;
    justify-content: center;
    align-items: center;
    height: 50px;
   

}

.for-container { 
    position: relative;
}

.search-form button {
    position: absolute;
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: blue;
    color: white;
    border-radius: 3px;

    
}

.is-hidden {visibility: hidden;}


.info{
    display: flex;
}

.info-item {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.contacts__icon{
    width: 16px;
    height: 16px;
}

